{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
  <div class="product-detail">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "main:ProductList" %}">Все</a></li>

        {% for slug, name in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{% url 'main:ProductList' slug %}">{{ name }}</a></li>
        {% endfor %}

        <li class="breadcrumb-item active" aria-current="page">{{ product.category.name }}</li>
      </ol>
    </nav>

    <div class="col-sm-8">
      <h1>{{ product.name }}</h1>
      <a href="{% url 'cart:CartAdd' product.id %}">Купить</a><br>
      <p class="price">
        {{ product.price }} руб.
      </p>
      <span>
        {{ product.description | linebreaks}}
      </span>
    </div>
  </div>
{% endblock %}